* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

p {
    font-size: 1.5rem;
}

.infoSection {
    padding: 60px;
}

.fbLogo {
    margin: 30px;
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}

@keyframes pass {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(90vw - 100px));
    }
    100% {
        transform: translateX(0);
    }
}

.bolt {
    position: absolute;
    top: 200px;
    left: 5vw;
    width: 100px;
    animation-name: pass;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.padded-sloth {
    padding-top: 25px;
}

.centerify {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerify-item {
    flex: 1;
}